<!--jQuery files-->
<script type="text/javascript" src="/html/js/vendor/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/html/js/vendor/modernizr.custom.js"></script>
<script type="text/javascript" src="/html/js/classie.js"></script>
<script type="text/javascript" src="/html/js/search.js"></script>

<!--jQuery Retina-->
<script type="text/javascript" src="/html/js/retina.js"></script>

<!--Particle Background js file-->
<script type="text/javascript" src="/html/js/jquery.particleground.js"></script>

<!--jQuery FlexSlider-->
<script type="text/javascript" src="/html/bower_components/FlexSlider/jquery.flexslider.js"></script>

<!--jQuery OWL Carousel-->
<script type="text/javascript" src="/html/bower_components/owl.carousel/owl.carousel.min.js"></script>

<!--jQuery Megafolio-->
<script type="text/javascript" src="/html/bower_components/megafolio/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/html/bower_components/megafolio/js/jquery.themepunch.megafoliopro.js"></script>

<!--jQuery FancyBox-->
<script type="text/javascript" src="/html/bower_components/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="/html/bower_components/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/html/bower_components/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
<script type="text/javascript" src="/html/bower_components/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<!--jQuery Isotope-->
<script type="text/javascript" src="/html/js/isotope.pkgd.min.js"></script>

<!--jQuery Imageloaded-->
<script type="text/javascript" src="/html/js/imagesloaded.pkgd.min.js"></script>

<!--FitVids js file-->
<script type="text/javascript" src="/html/js/jquery.fitvids.js"></script>

<!--Placeholder js file-->
<script type="text/javascript" src="/html/js/placeholder.js"></script>

<!--HC Sticky js file-->
<script type="text/javascript" src="/html/js/jquery.hc-sticky.min.js"></script>

<!--Custom js file-->
<script type="text/javascript" src="/html/js/custom.js"></script>