<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Blog's - Mean JS</title>
    <% include ../admin/layouts/linkCss.html %>
</head>

<body ng-app="blogApp" ng-controller="blogController">
    <!--Pre Loading Start-->
    <div class="preloader-container">
        <div class="preloader-particles-wrapper"></div>
    </div>
    <!--Pre Loading End-->
    <!--Background Start-->
    <div class="bgimage bgimage-cover" data-image-src="">
        <div id="particles"></div>
        <div class="bg-overlay" data-bg-color="#353c40" data-opacity="0.85"></div>
    </div>
    <!--Background End-->
    <!--Whole Container Start-->
    <div class="container-wrapper">
       <% include ../admin/layouts/header.html %>
        <!--Content Wrapper Start-->
        <div class="content-wrapper">
            <div class="container">
                <div class="row section-wrapper">
                    <!--Content Start-->
                    <div class="col-xs-12 nopadding">
                        <div class="box">
                            <!--Archive Title Start-->
                            <!--    <div class="archive-title">
                                <span>Category</span>
                                <h1>Travel</h1>
                            </div> -->
                            <!--Archive Title End-->
                            <div class="post-list post-list-fullwidth post-masonry">
                                <!--Post Entry 1 Start-->
                                <!--Post Entry 1 End-->
                                <div class="container nopadding">
                                    <div class="row masonry-wrapper">
                                        <!--Post Entry B050 Start-->
                                        <div class="masonry-item col-xs-12 col-sm-6 col-md-4" ng-repeat="item in lists">
                                            <div class="box">
                                                <div class="masonry-article-wrap">
                                                    <article class="post-type-standard">
                                                        <!--Post Image-->
                                                        <div class="post-img img-div-cover">
                                                            <div class="post-list-category">
                                                                <ul>
                                                                    <li><a href="#">Vestibulum</a></li>
                                                                    <li><a href="#">Aenean</a></li>
                                                                </ul>
                                                            </div>
                                                            <a href="{{url}}/{{item._id}}/{{item.bv056}}">
                                                                <figure>
                                                                    <div class="overlay-hover"></div>
                                                                    <img ng-src="{{item.bv052}}" alt="post image" />
                                                                </figure>
                                                            </a>
                                                        </div>
                                                        <!--Post Entry-->
                                                        <div class="post-entry">
                                                            <h2><a href="{{url}}/{{item._id}}/{{item.bv056}}"> {{item.bv051}} </a></h2>
                                                            <div class="post-description">
                                                                <p>{{item.bv053}}</p>
                                                            </div>
                                                            <div class="post-meta">
                                                                <ul>
                                                                    <li><a href="#">{{item.bl095 | date: 'yyyy-MM-dd'}}</a></li>
                                                                    <li><a href="#">{{item.qv101}}</a></li>
                                                                    <li><a href="#">Comments<span>4</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!--Post Share-->
                                                        <div class="post-share">
                                                            <div class="read-more-btn"><a href="{{url}}/{{item._id}}/{{item.bv056}}">Read more</a></div>
                                                            <div class="share-masonry share-tooltip-animate">Share</div>
                                                            <div class="share-tooltip">
                                                                <ul>
                                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                                                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Post Entry B050 End-->
                                    </div>
                                </div>
                            </div>
                            <!--Pagination Start-->
                            <nav class="pagination pagination-masonry-fullwidth">
                                <ul>
                                    <li class="pagination-active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                            </nav>
                            <!--Pagination End-->
                        </div>
                    </div>
                    <!--Content End-->
                </div>
                <div class="layout-divider"></div>
            </div>
        </div>
        <!--Content Wrapper End-->
       <% include ../admin/layouts/footer.html %>
        <!--Back to Top Start-->
        <a class="back-to-top" href="#"><i class="fa fa-angle-up"></i></a>
        <!--Back to Top End-->
    </div>
   <% include ../admin/layouts/linkJs.html %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    
    <script src="/js/controllers/Blog-Controller.js" type="text/javascript"></script>
</body>

</html>
