<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>test</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div ng-controller="demoController">
		<h3>Lists have {{lists.length}}</h3>
		<ul>
			<li ng-repeat="list in lists">
				{{list.title}} <span ng-click="func_delete(list._id, $index)">  Delete </span> || <span ng-click="func_edit(list._id)"> Edit </span>
			</li>
		</ul>

		<form accept-charset="utf-8" ng-submit="demoSubmit()" id="form-submit">
			<input type="text" placeholder="Enter your name" ng-model="title"></input>
			<input type="text" placeholder="Enter ID" ng-model="uuid"></input>
			<button type="submit">Add</button>
		</form>
	</div>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.js"></script>
	<script src="/js/controllers/test-controller.js" type="text/javascript"></script>
</body>
</html>